body {
    background-image: linear-gradient(to right, rgb(89, 92, 89), rgb(0, 0, 0));
}

.display {
    width: 100%;
    text-align: center;
}

.name {
    color: aliceblue;
    font-size: 350%;
}

.clock {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    margin: 8% auto;

    position: relative;

    background-color: rgb(29, 77, 17);
    color: rgb(196, 196, 196);

    font-weight: bold;

    border: 4px solid black;
    border-radius: 4%;


}

.time {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 500%;
    margin-bottom: 7%;
}

.seconds {
    font-size: 35%;
    margin-bottom: 2%;
    margin-left: 4%
}

.hello {
    position: absolute;
    top: 32%;
    right: 33%;
    font-size: 30%;
}

.dayDate {
    font-size: 200%;
    margin-bottom: 8%;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;

    border-radius: 15%;
    background-color: blanchedalmond;

    font-weight: bolder;

}